<div class="profile">
  <div class="profile-info">
    <img src="https://streetpie.ru/ckeditor_assets/pictures/4896/content_02ea54a40f224937d982abb23cb3b01c.jpg"
         class="profile-photo"
         alt="Фото профиля"/>
    <button type="button">Написать</button>
  </div>
  <div class="profile-info">
    <h5>{{userInfo.name}}</h5>
    <h6>30 лет</h6>
    <div class="profile-block">
      <h6 class="profile-block__title">О себе</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at aut corporis doloribus iste minima molestiae
        molestias nesciunt non optio, quas, quibusdam quis quo reiciendis sequi suscipit totam. Eum, quas!
      </p>
    </div>
    <div class="profile-block">
      <h6 class="profile-block__title">Интересы</h6>
      <div class="profile-interests-selected-films">
        <div class="profile-interests-selected-film" *ngFor="let film of films">
          {{film.title}}
        </div>
      </div>
      <form class="profile-interests">
        <div class="profile-interests-item">
          <label for="films">Кино</label>
          <input type="text" id="films" [formControl]="film" class="profile-interests-item__input">
          <button type="button" (click)="addFilm()">Добавить фильм</button>
        </div>
      </form>
    </div>
    <div class="profile-block">
      <div class="profile-recommendation-profile" *ngFor="let potentialFriend of potentialFriends">
        <h6>{{potentialFriend.name}}</h6>
      </div>
    </div>
  </div>
</div>
